.vibration {
    animation: vibrate 0.05s infinite alternate;
}

@keyframes vibrate {
    0% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(1px);
    }
}

/* smooth */
.smooth-enter-active,
.smooth-leave-active {
    transition: all 0.3s linear;
}

.smooth-enter-from,
.smooth-leave-to {
    opacity: 0;
}