/* vibrate */
@keyframes vibrate {
    0% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
}
.vibration {
    animation: vibrate 0.05s infinite alternate;
}


/* smooth */
.smooth-enter-active,
.smooth-leave-active {
    transition: all 0.3s linear;
}

.smooth-enter-from,
.smooth-leave-to {
    opacity: 0;
}

/* scale */
@keyframes scale {
    from, 20% {
        animation-timing-function: ease-out;
        transform: scale(0);
    }
    60% {
      animation-timing-function: ease-in-out;
      transform: scale(1.2);
    }
    80% {
        transform: scale(0.9);
    }
    to {
        filter: none;
        opacity: 1;
        transform: scale(1);
    }
}
.scale {
    animation: scale 0.5s alternate;
}