<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fileMapper">

    <insert id="insertOneFile">
        insert into file
        values(#{originalName}, #{renameName}, #{directory}, default, #{size})
    </insert>

    <insert id="insertFileList">
        insert into file values
        <foreach collection="list" item="file" separator=",">
            (#{file.originalName}, #{file.renameName}, #{file.directory}, default, #{file.size})
        </foreach>
    </insert>

    <delete id="deleteOneFile">
        delete from file
        where file_rename_name=#{renameName}
    </delete>

    <resultMap id="fileResultMap" type="com.szzzing.api.dto.common.FileDto">
        <result column="file_original_name" property="originalName"/>
        <result column="file_rename_name" property="renameName"/>
        <result column="file_directory" property="directory"/>
        <result column="file_cre_date" property="creDate"/>
        <result column="file_size" property="size"/>
    </resultMap>
</mapper>