<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyMapper">


    <resultMap id="commentResultMap" type="com.szzzing.api.dto.comment.CommentDto">
        <result column="comment_id" property="id"/>
        <result column="comment_movie_id" property="movieId"/>
        <result column="comment_user_id" property="userId"/>
        <result column="user_nickname" property="nickname"/>
        <result column="user_profile_image" property="profileImage"/>
        <result column="comment_content" property="content"/>
        <result column="is_wish" property="isWish"/>
        <result column="is_watching" property="isWatching"/>
        <result column="comment_rate" property="rate"/>
        <result column="comment_is_spoiler" property="isSpoiler"/>
        <result column="like_count" property="likeCount"/>
        <result column="reply_count" property="replyCount"/>
        <result column="comment_cre_date" property="creDate"/>
        <result column="comment_mod_date" property="modDate"/>
    </resultMap>
</mapper>