<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyMapper">

    <insert id="insertOneReply">
        insert into reply
        values(default, #{userId}, #{refId}, #{content}, default, default, default)
    </insert>

    <update id="updateOneReply">
        update reply
        set reply_content=#{content}, reply_mod_date=current_timestamp
        where reply_id=#{id}
    </update>

    <update id="deleteOneReply">
        update reply
        set reply_enable = false
        where reply_id=#{id}
    </update>

    <select id="selectReplyList" resultMap="replyResultMap">
        select r.*, u.*
        from reply r
            join user u on reply_user_id = user_id
        where reply_enable = true and reply_ref_id=#{refId}
        order by reply_id desc
        limit #{limit} offset #{offset}
    </select>

    <insert id="insertOneReport">
        insert into report
        values(default, #{userId}, #{replyId}, #{content}, default, default, default)
    </insert>

    <resultMap id="replyResultMap" type="com.szzzing.api.dto.reply.ReplyDto">
        <id column="reply_id" property="id"/>
        <result column="reply_user_id" property="userId"/>
        <result column="user_profile_image" property="profileImage"/>
        <result column="user_nickname" property="nickname"/>
        <result column="user_enable" property="userEnable"/>
        <result column="reply_ref_id" property="refId"/>
        <result column="reply_content" property="content"/>
        <result column="reply_cre_date" property="creDate"/>
        <result column="reply_mod_date" property="modDate"/>
    </resultMap>

</mapper>