/* color code */

:root {
    --G0: #ffffff;
    --G50: #fafafa;
    --G100: #f4f4f5;
    --G200: #e4e4e7;
    --G300: #d4d4d8;
    --G400: #a1a1aa;
    --G500: #71717a;
    --G600: #525252;
    --G700: #3f3f3f;
    --G800: #272727;
    --G900: #202020;
    --G1000: #181818;
}

:root.dark {
    --G0: #181818;
    --G50: #202020;
    --G100: #272727;
    --G200: #3f3f3f;
    --G300: #525252;
    --G400: #71717a;
    --G500: #a1a1aa;
    --G600: #d4d4d8;
    --G700: #e4e4e7;
    --G800: #f4f4f5;
    --G900: #fafafa;
    --G1000: #ffffff;
}

:root {
    --O100: #18181809;
    --O200: #18181808;
    --O300: #18181818;
    --O400: #18181831;
    --O500: #18181846;
    --O600: #18181858;
    --O700: #18181871;
    --O800: #18181880;
    --O900: #18181891;
    --FOCUS: #ffc400;
    --RED: rgba(237, 106, 94);
    --GREEN: rgba(99, 206, 86);
}

:root.dark {
    --O100: #ffffff09;
    --O200: #ffffff08;
    --O300: #ffffff18;
    --O400: #ffffff31;
    --O500: #ffffff46;
    --O600: #ffffff58;
    --O700: #ffffff71;
    --O800: #ffffff80;
    --O900: #ffffff91;
}

:root {
    --BLUR: #fafafa80;
}
:root.dark {
    --BLUR: #27272790;
}