/* color code */

:root {
    --G0: #ffffff;
    --G50: #f9fafb;
    --G100: #f1f3f5;
    --G200: #eceef1;
    --G300: #ccc;
    --G400: #bbb;
    --G500: #888;
    --G600: #6b7684;
    --G700: #333;
    --G800: #222;
    --G900: #191919;
    --G1000: #111;
}

:root.dark {
    --G1000: #ffffff;
    --G900: #f7f9fb;
    --G800: #f1f3f5;
    --G700: #eceef1;
    --G600: #a8a8a8;
    --G500: #999;
    --G400: #888;
    --G300: #666;
    --G200: #333;
    --G100: #222;
    --G50: #191919;
    --G0: #111;
}

:root {
    --O100: #11111109;
    --O200: #11111108;
    --O300: #11111118;
    --O400: #11111131;
    --O500: #11111146;
    --O600: #11111158;
    --O700: #11111171;
    --O800: #11111180;
    --O900: #11111191;
    --FOCUS: #ffc400;
    --RED: rgba(237, 106, 94);
    --GREEN: rgba(99, 206, 86);
}